@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  box-shadow: inset 0px 0px 48px 2px #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  box-shadow: inset 0px 0px 47px -12px #817e7e81;
}

.desc,
.title {
  max-width: 40ch;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title {
  max-width: 10ch;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
}

.neumorphismButtons,
.neumorphismCard {
  transition: all 0.5s ease;
}

.neumorphismCard:hover {
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.438);
}

.neumorphismButton:hover {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.438);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4f4e50 #ffffff00;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f4e50;
  border-radius: 5px;
}
